@using Microsoft.AspNet.Identity
@model Model.Election

@{
    ViewBag.Title = "Nomination";
}

<h2>Details</h2>

<div>
    <h4>Election</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NominationDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NominationDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteDuration)
        </dd>

    </dl>

    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <form id="form">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.Id, new { @Name = "elec_id" })
            @Html.HiddenFor(m => m.Id, new { @Name = "voter_id", @Value = User.Identity.GetUserId() })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.Label("Select Nominee for President")
                    <select class="form-control" id="PresidentDrop" name="pre"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.Label("Select Nominee for Vice-President")
                    <select class="form-control" id="ViceDrop" name="vice"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.Label("Select Nominee for Genral-Secratary")
                    <select class="form-control" id="SecDrop" name="sec"></select>
                </div>
            </div>


            <div class="form-group" id="voteform">
                <div class="col-md-offset-2 col-md-10">
                    <input id="voted" type="submit" value="Nominate" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/api/Users/",
                success: function (data) {
                    var s = '<option value="-1">please select user</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Id + '">' + data[i].UserName + '</option>';
                    }
                    $("#PresidentDrop").html(s);
                    $("#ViceDrop").html(s);
                    $("#SecDrop").html(s);
                }
            });
            $.ajax({
                type: "GET",
                url: "http://10.10.0.77:8000/testnom/" + "@Model.Id" + "/" + "@User.Identity.GetUserId()" +"/",
                success  : function(data) {
                    
                    var vali = data["success"].toString();
                    if (vali === "false") {
                        $("input[type=submit]").attr("disabled", "disabled");
                        alert("Your vote has done");
                    }
                }
            });

            
            $('form').on('submit',function(e){
                e.preventDefault();
                $.ajax({
                    type     : "POST",
                    cache    : false,
                    url: "http://10.10.0.77:8000/testnom/"+"@Model.Id"+"/"+"@User.Identity.GetUserId()"+"/",
                    dataType: 'json',
                    data: JSON.stringify($(this).serializeArray()),
                    success  : function(data) {
                        location.reload();
                    }
                });

            });
            
        });

    </script>
}
